<mat-card class="card-widget">
  <mat-card-content>
    <div *ngIf="lastReportedBPdata !=null ; else noPriorBp">
      Last BP reported was {{ lastReportedBPdata.systolic.value }}/{{ lastReportedBPdata.diastolic.value }} on
      {{formatDate(lastReportedBPdata.systolic.date)}} at {{formatTime(lastReportedBPdata.systolic.date)}}
    </div>
    <ng-template #noPriorBp>
      <div class="empty-message-content">
        <ng-container *ngIf="layerManager.loading$ | async; else doneLoading">
          <div>Loading data...</div>
          <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        </ng-container>
        <ng-template #doneLoading> There is no last reported prior BP for Patient </ng-template>
      </div>
    </ng-template>
  </mat-card-content>
</mat-card>