/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

* {
  box-sizing: border-box;
}

/* TODO: find a better way to customize material styles within ngx-charts-on-fhir */
.mat-badge-content {
  background: none;
}

.mat-tooltip {
  font-size: 14px;
}

.range-selector {
  .mat-form-field {
    top: 5px;
  }

  .mat-form-field-infix {
    display: flex;
    height: 40px;
  }

  input.mat-input-element {
    position: relative;
    bottom: 0px;
  }

  .mat-datepicker-toggle {
    position: relative;
    bottom: 20px;
  }
}