.layout-main {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto 1fr;
  padding: 8px;
  gap: 8px;
  height: 100vh;
}
.layout-main-top {
  grid-column: 1 / -1;
  grid-row: 1;
  display: flex;
  gap: 8px;
  align-items: end;
}
.layout-main-chart {
  grid-column: 1;
  grid-row: 2;
}
.layout-main-summary {
  grid-column: 2;
  grid-row: 2;
}
.layout-summary-selector {
  grid-column: 1;
  grid-row: 1;
}
// .range-selector .mat-button-toggle-group .mat-button-toggle-appearance-standard button span{
//   line-height: 30px !important;
// }
