.layout-main {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  grid-column-gap: 4px;
  height: 100%;
}
.layout-main-chart {
  grid-column: 1 / -2;
}
.layout-main-chart {
  flex: 1 1 auto;
}
.layout-main-summary {
  flex: 0 1 auto;
}