<mat-toolbar>
  <span>{{ appTitle }}</span>
</mat-toolbar>
<mat-tab-group class="bp-tab-group" mat-stretch-tabs="false" mat-align-tabs="start" [selectedIndex]="selectedIndex"
  (selectedIndexChange)="selectedIndex = $event">
  <mat-tab label="Report BP">
    <last-report-bp></last-report-bp>
    <report-bp class="report-bp-card" (resourceCreated)="getBpLayerdata()"></report-bp>
  </mat-tab>
  <mat-tab label="See prior BPs">
    <div class="layout-main" id="layout-main">
      <mat-card class="layout-main-chart mat-elevation-z2">
        <mat-card-content>
          <fhir-chart width="100%"></fhir-chart>
        </mat-card-content>
      </mat-card>
      <div class="layout-main-summary" id="summary-card-table">
        <fhir-chart-summary></fhir-chart-summary>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>
