.layout-main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-template-rows: auto max-content;
  grid-column-gap: 4px;
  height: calc(100vh - 108px);
}

//Added this css as we have to maintain 60 40 width on desktop size as earlier

.layout-main-chart {
  grid-column: 1 / -2;
}

.banner-logo {
  height: 46px;
  margin-right: 8px;
}
