.layout-main {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto 1fr;
  padding: 8px;
  gap: 8px;
  height: 100vh;
}
.layout-main-range {
  grid-column: 1;
  grid-row: 1;
}
.layout-main-chart {
  grid-column: 1;
  grid-row: 2;
}
.layout-main-summary {
  grid-column: 2;
  grid-row: 2;
}

.layout-summary-selector {
  grid-column: 2;
  grid-row: 1;
}
