.layout-main {
  display: grid;
  grid-template-columns: auto max-content;
  grid-template-rows: max-content auto;
  padding: 8px;
  gap: 8px;
  height: 100vh;
}
.layout-main-range {
  grid-column: 1 / -1;
  grid-row: 1;
}
.layout-main-chart {
  grid-column: 1;
  grid-row: 2;
}
.layout-main-summary {
  grid-column: 2;
  grid-row: 2;
}
