/* NgDocStyleSnippetStart(CSS) */
.example-main-content {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* NgDocStyleSnippetEnd(CSS) */

.full-page-demo {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
}
