<data-layer-toolbar [active]="sidenavPanel" (activeChange)="onToolbarChange(sidenav, $event)"></data-layer-toolbar>
<mat-sidenav-container>
  <mat-sidenav mode="side" #sidenav opened>
    <div class="layout-sidebar">
      <div class="layout-sidebar-content">
        <data-layer-browser [hidden]="sidenavPanel !== 'browser'"></data-layer-browser>
        <data-layer-list [hidden]="sidenavPanel !== 'options'"></data-layer-list>
      </div>
      <div class="layout-sidebar-close">
        <button color="primary" class="sidebar-close-button" (click)="sidenavPanel = null" title="Close data browser"><mat-icon>arrow_left</mat-icon></button>
      </div>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="layout-main">
      <mat-accordion multi class="layout-main-chart">
        <mat-expansion-panel expanded="true">
          <mat-expansion-panel-header>
            <mat-panel-title> Chart </mat-panel-title>
          </mat-expansion-panel-header>
          <fhir-chart width="100%" height="500px"></fhir-chart>
        </mat-expansion-panel>
        <mat-expansion-panel expanded="true">
          <mat-expansion-panel-header>
            <mat-panel-title> Insights </mat-panel-title>
          </mat-expansion-panel-header>
          <analysis></analysis>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
