<mat-card>
  <mat-card-content>
    <form [formGroup]="form" class="bpform" id="entryForm" (ngSubmit)="onSubmit()">
      <section class="bpform-section">
        <div class="systolic-input">
          <mat-form-field class="input-width">
            <mat-label> Systolic BP </mat-label>
            <input matInput formControlName="systolic" type="number" name="none" id="systolic" placeholder="Systolic BP" />
            @if (this.form.controls.systolic.hasError("required")) {
              <mat-error> Systolic BP is required </mat-error>
            }
            @if (this.form.controls.systolic?.hasError("min") || form.controls.systolic?.hasError("max")) {
              <mat-error> Systolic BP should be between {{ min }} and {{ max }} </mat-error>
            }
          </mat-form-field>
        </div>
        <div>
          <mat-form-field class="input-width">
            <mat-label> Diastolic BP </mat-label>
            <input matInput formControlName="diastolic" type="number" name="none" id="diastolic" placeholder="diastolic BP" />
            @if (this.form.controls.diastolic.hasError("required")) {
              <mat-error> Diastolic BP is required </mat-error>
            }
            @if (this.form.controls.diastolic?.hasError("min") || form.controls.diastolic?.hasError("max")) {
              <mat-error> Diastolic BP should be between {{ min }} and {{ max }} </mat-error>
            }
          </mat-form-field>
        </div>
        @if (this.form.controls.systolic?.valid && this.form.controls.diastolic?.valid && this.form?.hasError("bloodPressure")) {
          <mat-error> Systolic BP should be greater than Diastolic BP </mat-error>
        }
        <button mat-stroked-button color="primary" [disabled]="!form.valid" id="submit">Save</button>
      </section>
    </form>
  </mat-card-content>
</mat-card>
