mat-sidenav-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 54px;
  right: 0;
}
.layout-sidebar {
  min-width: 36vw;
  display: flex;
}
.layout-sidebar-content {
  flex: 1 1 auto;
}
.layout-sidebar-close {
  flex: 0 0 auto;
}
.sidebar-close-button {
  height: 100vh;
  overflow: hidden;
  color: #fff;
  background-color: #3f51b5; /* #3f51b5; /* todo: get theme color */
  border: 0px;
  padding: 0px;
  width: 16px;
  cursor: pointer;
}
.sidebar-close-button mat-icon {
  margin: -4px;
}

.layout-main {
  display: flex;
  padding: 8px;
  gap: 8px;
}
.layout-main-chart {
  flex: 1 1 auto;
  height: calc(100vh - 16px);
}
.layout-main-summary {
  flex: 0 1 auto;
  height: calc(100vh - 16px);
}
