/* You can add global styles to this file, and also import other style files */
@import 'material-icons/iconfont/material-icons.scss';
@import '@fontsource/roboto/300.css';
@import '@fontsource/roboto/400.css';
@import '@fontsource/roboto/500.css';

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

* {
  box-sizing: border-box;
}

/* TODO: find a better way to customize material styles within ngx-charts-on-fhir */
.mat-badge-content {
  background: none;
}

.mat-tooltip {
  font-size: 14px;
}
.green-snackbar {
  --mdc-snackbar-container-color: #22ae52;
  --mat-mdc-snack-bar-button-color: #e8e9ec;
}
.red-snackbar {
  --mdc-snackbar-container-color: red;
  --mat-mdc-snack-bar-button-color: #e8e9ec;
}