/* You can add global styles to this file, and also import other style files */

.green-snackbar {
  --mdc-snackbar-container-color: #22ae52;
  --mat-mdc-snack-bar-button-color: #e8e9ec;
}
.red-snackbar {
  --mdc-snackbar-container-color: red;
  --mat-mdc-snack-bar-button-color: #e8e9ec;
}